{:paths ["src"]
 :deps  {org.clojure/core.cache {:mvn/version "1.0.207"}
         hato/hato              {:mvn/version "0.7.2"}
         com.taoensso/timbre    {:mvn/version "5.1.1"}
         com.taoensso/encore    {:mvn/version "3.10.1"}
         metosin/jsonista       {:mvn/version "0.3.1"}
         lambdaisland/regal     {:mvn/version "0.0.89"}
         funcool/cuerdas        {:mvn/version "RELEASE"}
         meander/epsilon        {:mvn/version "0.0.588"}
         com.wsscode/pathom3    {:git/url "https://github.com/wilkerlucio/pathom3"
                                 :sha     "96fc43469b4f1049dbbdc375d698e1c64e44de01"}}}
